* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.amountProduct {
    width: 15px !important;
    height: 15px !important;
    transform: translate(80%, 120%);
}

@media only screen and (max-width: 960px) and (min-width: 800px) {
    .bagContent {
        width: 15px !important;
        height: 15px !important;
        transform: translate(-37%, 115%);
    }
}

@media only screen and (max-width: 800px) and (min-width: 550px) {
    .bagContent {
        width: 15px !important;
        height: 15px !important;
        transform: translate(25%, 115%);
    }
}


@media only screen and (max-width: 550px) and (min-width: 450px) {
    .bagContent {
        width: 15px !important;
        height: 15px !important;
        transform: translate(-72%, 104%);
    }
}

@media only screen and (max-width: 450px) and (min-width: 200px) {
    .bagContent {
        width: 15px !important;
        height: 15px !important;
        transform: translate(3%, 104%);
    }
}

.size-circle {
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.d-flex-end {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}

.d-flex-between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.d-flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.headList-a-nor {
    text-decoration: none;
    color: gray;
}

.headList-a-nor:hover {
    color: black;
}

.line {
    width: 100%;
    height: 2px;
    background-color: gray;
}

.cur-pointer {
    cursor: pointer;
}

.cur-pointerC {
    cursor: pointer;
}

.cur-pointerC:hover {
    border: 2px solid white;
}

.size-products {
    min-width: 400px;
    min-height: 500px;
    transition: 1s;
    box-shadow: 2px 4px 12px #00000014;
}

.size-products:hover {
    box-shadow: 2px 4px 16px #00000029;
    transform: scale3d(1.01, 1.01, 1.01);
}

.size-box {
    min-width: 320px;
    min-height: 240px;
    transition: 1s;
    box-shadow: 2px 4px 12px #00000014;
}

.size-box:hover {
    box-shadow: 2px 4px 16px #00000029;
    transform: scale3d(1.01, 1.01, 1.01);
}

.d-flex-around {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}

.list-none {
    list-style: none !important;
}

.bor-rad-nor {
    border-radius: 20px;
}

.a-nor {
    text-decoration: none;
    color: black;
    display: block !important;
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: scroll;
}

.size-square {
    display: block;
    width: 50px;
    height: 50px;
}

.d-flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.d-flex-between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.d-flex-around {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.size-input {
    width: 100%;
    height: 50px;
}

.text-link {
    text-decoration: underline;
    color: aqua;
}

.bor-input {
    border-radius: 20px !important;
}

.fs-7 {
    font-size: 30px;
}

.fs-8 {
    font-size: 50px;
}