html {
    scroll-behavior: smooth;
}

/* Animation Time */
.leftAnimation {
    opacity: 0;
    transform: translate(-140%);
    transition: 2s;
}

.left-Animation {
    opacity: 1;
    transform: translate(0%);
}

.rightAnimation {
    opacity: 0;
    transform: translate(140%);
    transition: 2s;
}

.right-Animation {
    opacity: 1;
    transform: translate(0%);
}



.opacityAnimation {
    opacity: 0;
    transform: translate(0%, 50%);
    transition: 2s;
}

.opacity-Animation {
    transform: translate(0%, 0%);
    opacity: 1;
}

/* Set up attribute */
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.transition-transform {
    transition: transform 0.5s ease-in-out;
}